/**公告**/
.notice{width:100%;height:0.85rem;background:#f7f7f7;text-align: center;line-height:0.85rem;position:rabsolute;}
.notice p{font-size:0.46rem;color:#999}
.notice label{position:absolute;top:-0.05rem;right:0;font-size:0.46rem;color:#999;cursor:pointer;}
/**导航**/
.wap-nav{width:100%;float:left;height:1.87rem;background:#1780e3;}
.wap-nav ul{width:100%;float:left}
.wap-nav ul li{float:left}
.wap-nav ul li img{width:3.13rem;height:1.06rem;}
.wap-nav ul .logo{margin:0.42rem 0 0 0.64rem;}
.wap-nav ul .right{float:right}
.login-btn{width:1.57rem;height:0.85rem;border:1px solid #fff;border-radius:5px; background:none;color:#fff;font-size:0.46rem;margin:0.5rem 0.64rem 0 0;cursor:pointer}
/**语言转换**/
.index-wrapper{width:14.8rem;margin:0 auto;}
.testing{width:100%;float:left;margin-top:0.42rem;}
.testing p{float:left;position:relative;}
.testing p span{position:absolute;top:0.25rem;right:1.42rem;color:#c4c4c4;font-size:0.42rem}
.testing-select{width:6.69rem;height:1.32rem;border:1px solid #c4c4c4;font-size:0.42rem;appearance:none;padding:0 0.29rem;-moz-appearance:none;-webkit-appearance:none;
 background:url(../../images/icon-s.png) no-repeat scroll right  #fff;background-size:0.46rem 0.12rem;border-radius:0.21rem}
.testing .test-icon{margin:0.22rem 0.4rem;color:#666;font-size:0.34rem;}
/**翻译内容**/
.translation-content{width:100%;height:2.26rem;float:left;margin-top:0.42rem;position:relative;}
.textarea-large{width:100%;border:none;height:2.26rem;background:none;padding:0 0.21rem;font-size:0.34rem;border:1px solid #c4c4c4;border-radius:0.21rem; background:#fff;word-break:break-all;}
.translation-content i{position:absolute;top:0.05rem;right:0.15rem;cursor:pointer;font-size:0.42rem;color:#999}
/**按钮**/
.translate-btn{width:100%;float:left;margin-top:0.42rem;display: none;}
.btn-big{width:100%;height:1.45rem;background:#fff;border:1px solid #c4c4c4;font-size:0.5rem;color:#999;cursor: pointer;}
/**翻译结果**/
.translation-content-english{width:100%;height:4rem;float:left;margin-top:0.42rem;border:1px solid #c4c4c4; background:#fff;border-radius:0.21rem;display: none;}
.textarea-xlarge{width:100%;border:none;height:2.52rem;background:none;padding:0 0.42rem;font-size:0.34rem;word-break:break-all;}
.translation-content-english p{width:100%;float:left;text-align:right;padding:0.1rem 0.42rem 0 0;}
.translation-content-english p i{font-size:0.8rem;color:#666;}
.translation-content-english p i:hover{color:#1780e3}
/**历史纪录**/
.history-list{width: 100%;float:left}
.history-list ul{width:100%;float:left;}
.history-list ul li{width:100%;height:1.49rem;float:left;border-bottom:1px solid #e9e9e9;line-height:1.49rem;}
.history-list ul li p{float:left;}
.history-list ul a{font-size:0.5rem;color:#999;}
.history-list ul .right{float:right}
.history-list ul li .word{width:6.4rem;float:left;margin-left:0.5rem; overflow:hidden;text-overflow: ellipsis; white-space: nowrap; }
.history-list ul li .word-en{width:3.84rem;float:left;margin-left:0.5rem;overflow:hidden;text-overflow: ellipsis; white-space: nowrap;}

/**banner**/
.banner{width:100%;float:left;margin-top:0.42rem;}
.banner img{width:100%;height:3.69rem;}
/**底部**/
.footer-big{position:absolute;bottom:0;}
/**终端**/
.terminal{width:100%;float:left;margin-top:0.46rem;padding:0 3.4rem;}
.terminal ul{width:100%;float:left;}
.terminal ul li{float:left;text-align: center;margin-right:2.1rem;}
.terminal ul li img{width:1.25rem;height:1.25rem;}
.terminal ul li p{line-height:1rem;color:#999;font-size:0.38rem}
.terminal ul .current p{color:#666}
.terminal ul .none-ml{margin-right:0;}

/**关于我们**/
.footer{width:100%;float:left;margin-top:0.46rem;}
.footer ul{width:100%;float:left;}
.footer ul li{text-align: center;font-size:0.42rem;color:#666;line-height:1.2rem;}
.footer ul li a{padding:0 0.51rem;font-size:0.42rem;color:#666}
.footer ul li a:hover{color:#1780e3}
.footer ul .ash{color:#999}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone4/4s */
.terminal{width:100%;float:left;margin-top:0.46rem;padding:0 3rem;}
.login-btn{width:1.57rem;height:1rem;}
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone5 */
.terminal{width:100%;float:left;margin-top:0.46rem;padding:0 3.12rem;}
.login-btn{width:1.57rem;height:1rem;}
}
@media (device-height:667px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 */
.terminal{width:100%;float:left;margin-top:0.46rem;padding:0 3.52rem;}
}
@media (device-height:736px) and (-webkit-min-device-pixel-ratio:2){/* 兼容iphone6 Plus */
.terminal{width:100%;float:left;margin-top:0.46rem;padding:0 3.72rem;}
}
